app/*
!app/config/**
bin/*
nbproject/*
var/*
vendor/*
composer.*
machin.truc
.web-server-pid
boxfile.yml
web/p/*
web/img/icons/*
web/js/*
!web/js/contact.js
!web/js/gallery.js
web/css/*
!web/css/competences.css
!web/css/contact.css
!web/css/fichier-projet.css
!web/css/gallery.css
!web/css/header.css
!web/css/index.css
!web/css/projet.css
!web/css/style.css
web/php/github-sync.php

.ftpconfig
