<div class="col-12">
<div class="col9 col11-s col__small-padding--right">
<div class="course-content space-bottom-big">
<div class="userContent userContent--smallCourse js-userContent" data-javascript-enabled="">
<h2>
Énoncé
</h2>
<p id="r-3504516" data-claire-element-id="5519111">Votre nouveau client est une agence immobilière d'une station de montagne. Celle-ci n'a toujours pas de site web et possède pourtant de nombreux chalets luxueux à vendre !</p>
<p id="r-3527481" data-claire-element-id="5519112">Cette agence souhaite pouvoir mettre à jour&nbsp;son site régulièrement toute seule sans faire appel à nouveau à vous. Vous décidez donc de leur créer un site sous Wordpress qu'ils pourront modifier et d'utiliser un thème adapté à leurs besoins.</p>
<p id="r-3527482" data-claire-element-id="5519113">A vous de jouer !</p>
<h2 id="r-3527498" data-claire-element-id="5519224">Etape 1 : installer&nbsp;Wordpress et un thème</h2>
<p id="r-3527483" data-claire-element-id="5519114">L'agence "Chalets et caviar" à Courchevel vous a missionné pour créer son site web. Elle possède une quinzaine de chalets de luxe à la vente ainsi que d'autres chalets de luxe en location.</p>
<p id="r-3527484" data-claire-element-id="5519115">Elle souhaite un design "clair, épuré, qui respire la ligne luxe de l'agence". A vous de le trouver, de l'installer et de le configurer. Vous devez personnaliser le thème de telle sorte que l'agence se sente "chez elle" et qu'on n'ait pas l'impression d'avoir un thème en anglais à moitié intégré. Veillez donc tout particulièrement aux détails.</p>
<p id="r-3527485" data-claire-element-id="5519116">Pour la démo, vous complèterez le site en ajoutant :</p>
<ul id="r-3527490" data-claire-element-id="5519121">
<li id="r-3527487" data-claire-element-id="5519118">
<p id="r-3527486" data-claire-element-id="5519117">Une dizaine de chalets à vendre et à louer (séparez bien les deux)</p>
</li>
<li id="r-3527489" data-claire-element-id="5519120">
<p id="r-3527488" data-claire-element-id="5519119">Une page de contact avec les coordonnées et un formulaire de contact fonctionnel</p>
</li>
</ul>
<p id="r-3527491" data-claire-element-id="5519122">Le site web sera mis en ligne pour que l'agence puisse le consulter et le valider.</p>
<p id="r-3527492" data-claire-element-id="5519123">Fichiers à fournir :</p>
<ul id="r-3527497" data-claire-element-id="5519223">
<li id="r-3527494" data-claire-element-id="5519125">
<p id="r-3527493" data-claire-element-id="5519124">Code HTML / CSS / PHP complet du site web Wordpress</p>
</li>
<li id="r-3527496" data-claire-element-id="5519222">
<p id="r-3527495" data-claire-element-id="5519221">URL du site hébergé en ligne</p>
</li>
</ul>
<h2 id="r-3527544" data-claire-element-id="5519238">Etape 2 : configuration des accès et documentation</h2>
<p id="r-3527531" data-claire-element-id="5519225">L'agence est satisfaite de votre première proposition mais elle vous demande : "comment fait-on pour ajouter, modifier et supprimer des chalets ?!". Vous allez devoir créer :</p>
<ul id="r-3527538" data-claire-element-id="5519232">
<li id="r-3527533" data-claire-element-id="5519227">
<p id="r-3527532" data-claire-element-id="5519226">Un compte administrateur pour la directrice de l'agence</p>
</li>
<li id="r-3527535" data-claire-element-id="5519229">
<p id="r-3527534" data-claire-element-id="5519228">Un compte administrateur pour le développeur (vous) s'il n'existe pas déjà</p>
</li>
<li id="r-3527537" data-claire-element-id="5519231">
<p id="r-3527536" data-claire-element-id="5519230">Des comptes éditeurs pour les 2 autres&nbsp;collaborateurs de l'agence</p>
</li>
</ul>
<p id="r-3527539" data-claire-element-id="5519233">Une fois ces comptes créés, vous fournirez les instructions de mise à jour à l'agence sur un document PDF de 3 à 5 pages maximum. Tenez compte du fait qu'ils ne sont pas experts en création de sites web : détaillez donc bien les étapes et n'hésitez pas à ajouter des captures d'écran pour expliquer votre propos. Ils doivent comprendre sur la base de ce document comment mettre à jour leur site web.</p>
<p id="r-3527540" data-claire-element-id="5519234">Fichiers à fournir :</p>
<ul id="r-3527543" data-claire-element-id="5519237">
<li id="r-3527542" data-claire-element-id="5519236">
<p id="r-3527541" data-claire-element-id="5519235">Documentation PDF d'utilisation du site Wordpress pour l'agence</p>
</li>
</ul>
<h3>Soutenance</h3>
<p>A l'oral en condition réelle, vous présenterez votre projet. Votre mentor jouera le rôle du client.</p>
<p>La soutenance se déroule comme suit :</p>
<ul>
<li>La présentation du site&nbsp;et justification des choix graphiques : 15-20 minutes</li>
<li>Un moment questions/réponses : 10 minutes</li>
</ul>
<p>Votre mentor reprendra son rôle de mentor à la fin de votre "rendez-vous avec le client" pour débriefer avec vous pendant 5 minutes.</p>
</div>
<div class="userContent userContent--smallCourse">
<h2>
Compétences à valider
</h2>
<ul>
<li>
Sélectionner un thème Wordpress adapté aux besoins du client
</li>
<li>
Adapter un thème Wordpress pour respecter les exigences du client
</li>
<li>
Rédiger une documentation à l'intention d'utilisateurs non spécialistes
</li>
</ul>
</div>
</div>
</div>
</div>