#popup-message {
    text-align: center;
    background-color: green;
    color: white;
    width: 80%;
    left: 10%;
    position: relative;
    top:0;
    opacity:0;
}

input, textarea, button, select {
    font-family: "Lato";
}

.contactform-title {
    margin-bottom:40px;
}

#btn_submit_email {
    cursor:pointer;
}
