html, body {
    height:100vh;
}

body {
    font-family:"Lato";
    font-size:.95rem;
}

h1, h2, h3, h4 {
    color:green;
    font-family:"Roboto Slab";
}

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

button a {
    color:white;
}

.container-fluid {
    min-height:100%;
}

.page-title {
    margin-bottom:5%;
}

.content {
    min-height: calc(60% - 180px);
    margin-top:3rem;
    margin-bottom:5%;
}