<div class="col-12">
    <div class="col9 col11-s col__small-padding--right">
        <div class="course-content space-bottom-big">
            <div class="userContent userContent--smallCourse js-userContent" data-javascript-enabled="">
                <h2>
                    Wording
                </h2>
                <p id="r-3504546" data-claire-element-id="5521611">Vous venez de découvrir JavaScript ? Très bien&nbsp;! Mais vous ne deviendrez développeur JavaScript, et donc développeur frontend, que si vous pratiquez à l'aide de projets concrets.</p>
                <p id="r-3527761" data-claire-element-id="5519972">Ce premier projet a été spécialement conçu pour ceux qui débutent dans la programmation JavaScript et qui n'ont pas l'habitude de développer des algorithmes. Votre objectif sera à la fois simple et amusant : vous allez construire un générateur de citations ! Les citations seront construites aléatoirement en assemblant des morceaux de phrase.</p>
                <h2 id="r-3527763" data-claire-element-id="5520032">Etape 1 : des citations aléatoires</h2>
                <p id="r-3527762" data-claire-element-id="5519991">Le saviez-vous ? Il existe des générateurs de texte en ligne. Tapez "générateur de citation" et vous trouverez de nombreux sites qui génèrent aléatoirement des citations en assemblant des bouts de phrase.</p>
                <p id="r-3527776" data-claire-element-id="5519992">Vous avez le <a href="http://www.pipotron.free.fr/">Pipotron</a>&nbsp;et même le... <a href="http://www.faux-texte.com/jean-claude-3.htm">Vandammotron</a>. A votre tour d'en créer un !&nbsp;Vous devez respecter les consignes suivantes :</p>
                <ul id="r-3527783" data-claire-element-id="5519999">
                    <li id="r-3527778" data-claire-element-id="5519994">
                        <p id="r-3527777" data-claire-element-id="5519993">Les citations sont générées aléatoirement une par une à chaque appel du programme JavaScript</p>
                    </li>
                    <li id="r-3527780" data-claire-element-id="5519996">
                        <p id="r-3527779" data-claire-element-id="5519995">Chaque citation est la combinaison d'au moins 3 morceaux de phrases (à vous de préparer ces morceaux de phrase)</p>
                    </li>
                    <li id="r-3527782" data-claire-element-id="5519998">
                        <p id="r-3527781" data-claire-element-id="5519997">A défaut d'être intelligible, la phrase doit être cohérente (pas de point d'exclamation au milieu d'une phrase)</p>
                    </li>
                </ul>
                <p id="r-3527784" data-claire-element-id="5520031">Le programme peut simplement afficher le résultat dans la console JavaScript..</p>
                <p id="r-3527785" data-claire-element-id="5520001">Fichiers à fournir :</p>
                <ul id="r-3527788" data-claire-element-id="5520004">
                    <li id="r-3527787" data-claire-element-id="5520003">
                        <p id="r-3527786" data-claire-element-id="5520002">Code JavaScript du projet</p>
                    </li>
                </ul>
                <h2 id="r-3527808" data-claire-element-id="5520084">Etape 2 : des citations configurables</h2>
                <p id="r-3527790" data-claire-element-id="5520071">Vous souhaitez maintenant aller plus loin et proposer les options suivantes :</p>
                <ul id="r-3527802" data-claire-element-id="5520083">
                    <li id="r-3527797" data-claire-element-id="5520035">
                        <p id="r-3527796" data-claire-element-id="5520034">Choisir le nombre de citations générées (de 1 à 5)</p>
                    </li>
                    <li id="r-3527799" data-claire-element-id="5520082">
                        <p id="r-3527798" data-claire-element-id="5520081">Choisir entre 2 types de générateurs de citations (vous devrez donc avoir 2 ensembles de phrases)</p>
                    </li>
                    <li id="r-3527801" data-claire-element-id="5520039">
                        <p id="r-3527800" data-claire-element-id="5520038">Une fois les citations générées, proposer de générer de nouvelles citations ou d'arrêter là le programme</p>
                    </li>
                </ul>
                <p id="r-3527803" data-claire-element-id="5520041">Adaptez le programme pour qu'il puisse offrir ces fonctionnalités. A vous de jouer !</p>
                <p id="r-3527804" data-claire-element-id="5520042">Fichiers à fournir :</p>
                <ul id="r-3527807" data-claire-element-id="5520045">
                    <li id="r-3527806" data-claire-element-id="5520044">
                        <p id="r-3527805" data-claire-element-id="5520043">Code JavaScript du projet</p>
                    </li>
                </ul>
                <p>&nbsp;</p>
            </div>
            <div class="userContent userContent--smallCourse">
                <h2>
                    Compétences à valider
                </h2>
                <ul>
                    <li>
                        Concevoir un algorithme pour répondre à un cahier des charges
                    </li>
                    <li>
                        Mettre en oeuvre la syntaxe de JavaScript dans un programme
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>