<div class="userContent userContent--smallCourse js-userContent" data-javascript-enabled="">
    <h2>
        Énoncé
    </h2>
    <p id="r-3662416" data-claire-element-id="5860701">Jennifer Viala est l'organisatrice du Festival des Films de Plein Air. Elle ambitionne de sélectionner et projeter des films d'auteur en plein air du 5 au 8 août au parc Monceau à Paris.</p>
    <figure id="r-3674748" data-claire-element-id="5890373"><img id="r-3674746" src="//s3-eu-west-1.amazonaws.com/sdz-upload/prod/upload/film_festival_parc_shutterstock_220181725.jpg" alt="Les projections de films en plein air reviennent à la mode !" data-claire-element-id="5890371">
        <figcaption>Les projections de films en plein air reviennent à la mode !</figcaption>
    </figure>
    <p id="r-3662407" data-claire-element-id="5860682">Son association vient juste d'être créée et elle dispose d'un budget limité. Elle a besoin de communiquer en ligne sur son festival, d'annoncer les films projetés et de recueillir les réservations.</p>
    <p id="r-3662408" data-claire-element-id="5860683">Voici ce qu'elle vous dit :</p>
    <blockquote id="r-3662414" data-claire-element-id="5860704">
        <p id="r-3662409" data-claire-element-id="5860691">Mon association "Les Films de Plein Air" vient d'obtenir l'autorisation de projeter au parc Monceau cette année du 5 au 8 août chaque soir, de 18h à minuit.&nbsp;Je souhaite ainsi faire découvrir des films d'auteur au grand public.</p>
        <p id="r-3662411" data-claire-element-id="5860703">J'ai besoin de communiquer sur le festival en amont et j'ai besoin pour cela d'une présence en ligne avec un site web. Sur ce site , pour lequel il faudra trouver une charte graphique, j'ai besoin notamment de présenter le festival, la liste des films et&nbsp;de communiquer régulièrement sur les dernières actualités du festival.</p>
        <p id="r-3662412" data-claire-element-id="5860693">L'accès aux projections sera gratuit et ouvert à tous mais&nbsp;je souhaite que le public puisse se préinscrire pour estimer le nombre de personnes présentes chaque soir.</p>
        <p id="r-3662413" data-claire-element-id="5860694">Je souhaite avoir une adresse professionnelle en .com ou en .org : je suis preneuse de conseils sur le meilleur choix pour l'adresse et je ne souhaite pas m'occuper de l'hébergement.</p>
    </blockquote>
    <p id="r-3662415" data-claire-element-id="5860705">En tant que développeur, on vous demande de lister les fonctionnalités dont a besoin la cliente et de proposer une solution technique adaptée. Vous devez donc sélectionner la solution qui vous semble la plus à même de répondre à son besoin.</p>
    <p id="r-3662418" data-claire-element-id="5890374">Vous devrez&nbsp;ensuite réaliser une première version de ce site correspondant à ses attentes.<span id="caretAnchor"></span>&zwnj;&nbsp;</p>
    <h3>Livrables attendus</h3>
    <ul>
        <li>Document de spécification technique du projet (PDF)</li>
        <li>Code source complet du projet (HTML/CSS et autres fichiers nécessaires, zippés)<br>&nbsp;</li>
    </ul>
    <h3>Soutenance</h3>
    <p>A l'oral en condition réelle, vous présenterez votre projet. Votre mentor jouera le rôle du client.</p>
    <p>La soutenance se déroule comme suit :</p>
    <ul>
        <li>La présentation de votre cahier des charges et votre prototype du site en HTML et CSS&nbsp;: 15-20 minutes</li>
        <li>Un moment questions/réponses : 10 minutes</li>
    </ul>
    <p>Votre mentor reprendra son rôle de mentor à la fin de votre "rendez-vous avec le client" pour débriefer avec vous pendant 5 minutes.&nbsp;</p>
    <p>&nbsp;</p>
</div>