<div class="userContent userContent--smallCourse js-userContent" data-javascript-enabled="">
    <h2>
        Wording
    </h2>
    <p id="r-3504556" data-claire-element-id="5520221">So far, you've only developed small JavaScript applications. Now you have to go into the creation of a more comprehensive, solid...  in short a tougher project. ;)</p>
    <p id="r-3527866" data-claire-element-id="5520231">This project will consist in creating an online JavaScript game in which 2 players move turn by turn in order to compete against each other. Like in Highlander, there can only be one winner !</p>
    <figure id="r-3527869" data-claire-element-id="5568392"><img id="r-3527867" src="//sdz-upload.s3.amazonaws.com/prod/upload/apercu15.png" alt="Aperçu du jeu navigateur au tour par tour" data-claire-element-id="5520223">
        <figcaption>Preview of the turn-by-turn game</figcaption>
    </figure>
    <h3 id="r-3527881" data-claire-element-id="5520268">Step 1 : Map generation</h3>
    <p id="r-3527872" data-claire-element-id="5520234">Start by randomly generating the game map. A cell can either be : </p>
    <ul id="r-3527877" data-claire-element-id="5520239">
        <li id="r-3527874" data-claire-element-id="5520236">
            <p id="r-3527873" data-claire-element-id="5520235">Empty</p>
        </li>
        <li id="r-3527876" data-claire-element-id="5520238">
            <p id="r-3527875" data-claire-element-id="5520237">Inaccessible (grayed)</p>
        </li>
    </ul>
    <p id="r-3527878" data-claire-element-id="5520240">On the map, a limited number of weapons (4 maximum) is randomly placed and can be gathered by the players stepping on it.</p>
    <p id="r-3527879" data-claire-element-id="5520241">You have to create at least 4 types of weapons in the game, with differents amounts of damage. The default weapon equipped by the players has to inflict 10 damage points. Each weapon has a name and an associated visual.</p>
    <p id="r-3527880" data-claire-element-id="5520263">The position of both players is also randomly defined on the map when the game is loaded. They must not be on adjacent cells.</p>
    <p id="r-3527892" data-claire-element-id="5520264">Deliverables :</p>
    <ul id="r-3527895" data-claire-element-id="5520267">
        <li id="r-3527894" data-claire-element-id="5520266">
            <p id="r-3527893" data-claire-element-id="5520265">HTML/CSS/JS code of the project</p>
        </li>
    </ul>
    <h3 id="r-3527902" data-claire-element-id="5520275">Step 2 : the movements</h3>
    <p id="r-3527896" data-claire-element-id="5520269">At each turn, a player can move from 1 to 3 cells (horizontally or vertically) before he ends its turn. He obviously can't go through an obstacle.</p>
    <p id="r-3527897" data-claire-element-id="5520270">If a player steps on a cell containing a weapon, he leaves his current weapon at this spot and replaces him with the new one.</p>
    <p id="r-3527898" data-claire-element-id="5520271">Deliverables :</p>
    <ul id="r-3527901" data-claire-element-id="5520274">
        <li id="r-3527900" data-claire-element-id="5520273">
            <p id="r-3527899" data-claire-element-id="5520272">HTML/CSS/JS code of the project</p>
        </li>
    </ul>
    <h3 id="r-3527920" data-claire-element-id="5520306">Step 3 : the fight !</h3>
    <p id="r-3527903" data-claire-element-id="5520276">If the players are on adjacent cells (horizontally or vertically), a fight to the death starts.</p>
    <p id="r-3527904" data-claire-element-id="5520277">During a fight, the games works as this : </p>
    <ul id="r-3527915" data-claire-element-id="5520288">
        <li id="r-3527906" data-claire-element-id="5520279">
            <p id="r-3527905" data-claire-element-id="5520278">Each player attacks at his turn</p>
        </li>
        <li id="r-3527908" data-claire-element-id="5520281">
            <p id="r-3527907" data-claire-element-id="5520280">The damage dealt depends in the weapon owned by the player</p>
        </li>
        <li id="r-3527910" data-claire-element-id="5520283">
            <p id="r-3527909" data-claire-element-id="5520282">The player can either try to attack or defend against the next hit</p>
        </li>
        <li id="r-3527912" data-claire-element-id="5520285">
            <p id="r-3527911" data-claire-element-id="5520284">When the player defends, he deals 50% less damage than a normal hit</p>
        </li>
        <li id="r-3527914" data-claire-element-id="5520287">
            <p id="r-3527913" data-claire-element-id="5520286">When a player's health points (initially at 100) drop to 0, he loses. A message is displayed ant the game is over.</p>
        </li>
    </ul>
    <p id="r-3527916" data-claire-element-id="5520289">Deliverables</p>
    <ul id="r-3527919" data-claire-element-id="5520305">
        <li id="r-3527918" data-claire-element-id="5520304">
            <p id="r-3527917" data-claire-element-id="5520303">HTML/CSS/JS code of the project</p>
        </li>
    </ul>
    <div class="userContent userContent--smallCourse">
        <h2>
            Validating skills
        </h2>
        <ul>
            <li>
                Use jQuery in a web application
            </li>
            <li>
                Create a reusable JavaScript application architecture
            </li>
            <li>
                Develop an object-oriented application
            </li>
        </ul>
    </div>
</div>