<div class="col-12">
    <div class="col9 col11-s col__small-padding--right">
        <div class="course-content space-bottom-big">
            <div class="userContent userContent--smallCourse js-userContent" data-javascript-enabled="">
                <h2>
                    Énoncé
                </h2>
                <p id="r-3504576" data-claire-element-id="5523431">Dans le monde professionnel, on est souvent amené à reprendre un projet existant. Que faire&nbsp;quand vous vous retrouvez avec le code de quelqu'un d'autre sous les bras ? Comment l'améliorer ? Voilà un savoir-faire qui vous sera très utile au quotidien !</p>
                <p id="r-3529056" data-claire-element-id="5523432">En effet, faire un projet de bout en bout est "facile" : on connaît son fonctionnement sur le bout des doigts. En revanche, on se rend vite compte qu'il est plus dur de reprendre le travail de quelqu'un d'autre... surtout quand il n'a pas de tests !</p>
                <h3 id="r-3529068" data-claire-element-id="5568215">Etape 1 : où sont les tests ?!</h3>
                <p id="r-3529066" data-claire-element-id="5523461">Vous&nbsp;venez d'intégrer&nbsp;un studio de développement de jeux web. A peine installé, on vient vous dire : "Bon, ton prédécesseur avait bien bossé, même un peu trop, et un jour sans prévenir&nbsp;il est parti élever des chèvres en Patagonie. Il faut que tu reprennes son projet, nos clients attendent impatiemment une mise à jour de son jeu !".</p>
                <p id="r-3529067" data-claire-element-id="5523531">Vous vous apprêtez à sortir Google Maps pour savoir où est la Patagonie, avant de vous reprendre : "Non, c'est mon premier jour, il faut que je sois concentré. Où est ce projet, je vais n'en faire qu'une bouchée !".</p>
                <p id="r-3529111" data-claire-element-id="5523532">On vous présente le projet : Sokonyan !</p>
                <figure id="r-3529114" data-claire-element-id="5568212"><img id="r-3529112" src="//s3-eu-west-1.amazonaws.com/sdz-upload/prod/upload/sokonyan.png" alt="Sokonyan" data-claire-element-id="5523533">
                    <figcaption>Le menu de Sokonyan</figcaption>
                </figure>
                <p id="r-3529115" data-claire-element-id="5523536">Le jeu&nbsp;est une variante du Sokoban avec le célèbre Nyancat. Il consiste à déplacer des objets dans les bonnes&nbsp;cases.</p>
                <figure id="r-3529118" data-claire-element-id="5568214"><img id="r-3529116" src="//s3-eu-west-1.amazonaws.com/sdz-upload/prod/upload/sokonyan2.png" alt="Sokonyan en action" data-claire-element-id="5523537">
                    <figcaption>Sokonyan en action</figcaption>
                </figure>
                <p id="r-3529119" data-claire-element-id="5523995">Commencez par&nbsp;télécharger le code du projet :</p>
                <p id="r-3529318" data-claire-element-id="5523996"><a href="https://s3-eu-west-1.amazonaws.com/static.oc-static.com/prod/courses/files/reprenez-ameliorez-projet-existant/sokoban-fr.zip">Télécharger le projet</a></p>
                <aside data-claire-semantic="information">
                    <p>Vous devrez le faire tourner dans un serveur par exemple via&nbsp;WAMP ou MAMP, même s'il n'y a que du JavaScript. Remplacez s'il le faut les variables localhost et webhost dans src/utils/Config.js par la bonne url locale.</p>
                </aside>
                <p id="r-3529319" data-claire-element-id="5523997">Analysez comment il est structuré, essayez de comprendre son fonctionnement.</p>
                <p id="r-3529120" data-claire-element-id="5523541">Vous allez voir que ce projet ne comporte... aucun test ! Pour le prendre en main, la première étape va consister à lui adjoindre autant de <strong>tests unitaires et fonctionnels</strong> pertinents que vous pouvez. L'objectif est de créer les bases pour solidifier le projet. Ainsi, lorsque vous le modifierez par la suite, vous pourrez vous baser sur ces tests pour vérifier que vous ne "cassez" rien.</p>
                <p id="r-3529121" data-claire-element-id="5523542">Cette étape peut être un peu longue et fastidieuse, mais elle est nécessaire pour gagner beaucoup de temps et éviter des surprises par la suite !</p>
                <p id="r-3529122" data-claire-element-id="5523543">Fichiers à fournir :</p>
                <ul id="r-3529125" data-claire-element-id="5523546">
                    <li id="r-3529124" data-claire-element-id="5523545">
                        <p id="r-3529123" data-claire-element-id="5523544">Code mis à jour avec les tests</p>
                    </li>
                </ul>
                <h3 id="r-3529134" data-claire-element-id="5523556">Etape 2 : optimiser les performances</h3>
                <p id="r-3529126" data-claire-element-id="5523548">Les performances de ce projet peuvent être améliorées. Certaines choses vont vous sauter aux yeux ("quoi, tous ces fichiers CSS et JS chargés par le navigateur ?!"), d'autres sont un peu plus subtiles.</p>
                <p id="r-3529127" data-claire-element-id="5523549">Faites un audit de performances et améliorez ce que vous pouvez dans le projet. Notez bien ce que vous optimisez et constatez les gains à l'aide de la console de développement.</p>
                <p id="r-3529128" data-claire-element-id="5523550">Fichiers à fournir :</p>
                <ul id="r-3529133" data-claire-element-id="5523555">
                    <li id="r-3529130" data-claire-element-id="5523552">
                        <p id="r-3529129" data-claire-element-id="5523551">Document d'audit de performances</p>
                    </li>
                    <li id="r-3529132" data-claire-element-id="5523554">
                        <p id="r-3529131" data-claire-element-id="5523553">Code mis à jour optimisé</p>
                    </li>
                </ul>
                <h3 id="r-3529148" data-claire-element-id="5523861">Etape 3 : améliorer le projet</h3>
                <p id="r-3529135" data-claire-element-id="5523557">Il est temps d'améliorer le projet, de nombreuses personnes attendent ! Voici les fonctionnalités que l'on vous réclame :</p>
                <ul id="r-3529140" data-claire-element-id="5523562">
                    <li id="r-3529137" data-claire-element-id="5523559">
                        <p id="r-3529136" data-claire-element-id="5523558">Les joueurs attendent de nouveaux niveaux. Créez une seconde aventure constituée de 3 niveaux indépendante de la première aventure déjà en place. Profitez-en pour changer un peu le décor (fonds, blocs...).</p>
                    </li>
                    <li id="r-3529139" data-claire-element-id="5523561">
                        <p id="r-3529138" data-claire-element-id="5523560">Pour corser l'affaire, d'autres personnages vont se déplacer dans ces&nbsp;nouveaux&nbsp;niveaux. Les déplacements seront simples (sur quelques cases) et en boucle. Cela signifie qu'ils bloqueront le passage du joueur. Celui-ci devra attendre que ces autres personnages se soient déplacés pour passer.</p>
                    </li>
                </ul>
                <p id="r-3529141" data-claire-element-id="5523563">Pour effectuer ces modifications, vous devez avoir bien compris le fonctionnement du code dont vous avez hérité. Vous vous baserez sur les tests unitaires et fonctionnels déjà en place, que vous complèterez au fur et à mesure de vos modifications.</p>
                <aside id="r-3529264" data-claire-element-id="5523857" data-claire-semantic="information">
                    <p id="r-3529263" data-claire-element-id="5523856">Les niveaux peuvent être générés à l'aide de <a href="http://www.mapeditor.org/">Tiled</a>.</p>
                </aside>
                <p id="r-3529142" data-claire-element-id="5523564">Fichiers à fournir :</p>
                <ul id="r-3529147" data-claire-element-id="5523860">
                    <li id="r-3529144" data-claire-element-id="5523566">
                        <p id="r-3529143" data-claire-element-id="5523565">Code mis à jour avec les améliorations</p>
                    </li>
                    <li id="r-3529146" data-claire-element-id="5523859">
                        <p id="r-3529145" data-claire-element-id="5523858">Nouveaux tests unitaires et fonctionnels</p>
                    </li>
                </ul>
                <p>&nbsp;</p>
                <aside id="r-3529266" data-claire-element-id="5523863" data-claire-semantic="information">
                    <p id="r-3529265" data-claire-element-id="5523862">Merci à Dorian Milliere et Jordan Pereira-Ramos pour avoir accepté de fournir le projet de base.&nbsp;</p>
                </aside>
                <p>&nbsp;</p>
            </div>
            <div class="userContent userContent--smallCourse">
                <h2>
                    Compétences à valider
                </h2>
                <ul>
                    <li>
                        Reprendre en main un projet JavaScript existant
                    </li>
                    <li>
                        Mettre en oeuvre des tests unitaires et fonctionnels dans une application web
                    </li>
                    <li>
                        Optimiser les performances d'un projet à l'aide des DevTools
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>